[submodule "onnx2pytorch"]
	path = onnx2pytorch
	url = ../../OU-VECHEV/onnx2pytorch.git
[submodule "vnn-comp-2022-sup"]
	path = vnn-comp-2022-sup
	url = ../../OU-VECHEV/vnn-comp-2022-sup.git
[submodule "dnnv"]
	path = dnnv
	url = ../../OU-VECHEV/dnnv.git
