appdirs
attrs
black
bunch==1.0.1
certifi
cfgv
chardet
comet-ml
configobj==5.0.6
cycler
dill
distlib
dulwich
everett
filelock
gurobipy==9.1.2
identify
idna
importlib-metadata
iniconfig==1.1.1
jsonschema==3.2.0
kiwisolver
matplotlib
mxnet==1.9.1
mypy-extensions==0.4.3
nodeenv
numpy==1.21.0
nvidia-ml-py3==7.352.0
onnx==1.11.0
onnxruntime==1.11.0
packaging
pandas==1.2.5
pathspec
Pillow==9.1.1
pluggy
pre-commit
py==1.10.0
pyparsing==2.4.7
pyrsistent
pytest
pytest-cov
python-dateutil
pytz
PyYAML==5.4.1
regex
requests
requests-toolbelt
semantic-version
six==1.16.0
tensorflow==2.9.1
toml==0.10.2
torch==1.11.0
torchvision==0.12.0
tqdm
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3
virtualenv==20.4.7
websocket-client
wrapt
wurlitzer
zipp==3.4.1
